*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(56, 49, 49);
    background-repeat: no-repeat;
}
.calculator{
    border: 3px solid aqua;
    width: 300px;
    height: fit-content;
    margin: 70px auto;
    padding: 20px;
    border-radius: 10px;
}
.input{
    margin: 10px auto;
}
.input input {
    width: 100%;
    font-size: 50px;
    padding: 10px;
    text-align: right;
    color: aqua;
    border-radius: 10px;
}

marquee {
    font-size: 20px;
    color: aqua;
}

.calculator button{
    width: 20%;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: aqua;
    margin: 4px;

}
button:hover{
    background-color: rgb(46, 46, 138);
}

